<!-- templates/index.html -->
{% extends 'layout.html' %}

{% block title %}Projects{% endblock %}
{% block canonical %}https://www.fewsltd.com/projects{% endblock %}

{% block description %}
We offer innovative and impactful projects in the fields of infrastructure, agriculture, water systems, and engineering consultancy. Each project aims to deliver sustainable solutions that meet community needs.
{% endblock %}

{% block keywords %}
projects, infrastructure, agriculture, water systems, engineering, consultancy, sustainable development, community impact
{% endblock %}

{% block content %}
<!-- Hero Section -->
<section class="w-full pb-16 bg-white min-h-screen mt-[80px] md:mt-0">
    <div class="padMain relative text-center bg-cover bg-center lazyload" style="background-image: url('{{ url_for('static', filename='images/slide3.jpg') }}');">
        <div class="absolute inset-0 bg-black opacity-90"></div> <!-- Overlay -->
        <div class="relative z-10 text-white px-2 sm:px-4 py-16">
            <h1 class="text-3xl font-bold uppercase">Projects</h1>
           
        </div>
    </div>

    <div class="grid padMain grid-cols-1 md:grid-cols-4 gap-6 mt-16">
        {% if projects %}
            {% for project in projects %}
            <a href="{{ url_for('project', project_id=project.id) }}" class="block text-center group transform transition duration-500 hover:scale-105">
                <img src="{{ project.image_url }}" alt="Lesotho Highlands Water Project" class="w-full h-48 object-cover transition duration-500 group-hover:opacity-80" loading="lazy">
                <p class="font-semibold mt-2 group-hover:text-blue-600 transition duration-500 text-justify">{{ project.title | truncate(100) }}</p>
            </a>
            {% endfor %}
        {% else %}
        <!-- Fallback if no projects are available -->
        <div class="col-span-1 md:col-span-4 text-center py-20">
            <h2 class="text-2xl font-bold text-gray-800">No Projects Available</h2>
            <p class="text-gray-600 mt-4">Currently, there are no projects to display. Please check back later or contact us for more information.</p>
        </div>
        {% endif %}

    </div>
    
    

   
</section>

{% endblock %}
